:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	--board-background: #222;
	--cell-background: #444;
	--cell-outline: 8px;

	color-scheme: light dark;
	background: #242424;
	color: #cccccc;
}

.player-x { --text-color: hsl(0 100% 70%) !important; }
.player-o { --text-color: hsl(130 75% 70%) !important; }

* {
	box-sizing: border-box;
	user-select: none;
}

h1, h2, h3 {
	margin: 0;
	line-height: 1;
}

body {
  margin: 0;
  display: flex;
	min-width: 320px;
	min-height: 100vh;
  place-items: center;
}

#app {
  text-align: center;
	max-width: 320px;
	margin: 0 auto;
}

#game {
	background: var(--board-background);
	padding: 1rem;
}

#score-container {
	display: grid;
	margin-top: 1rem;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
}

#score-container > h3 {
	color: var(--text-color);
	& > .score { line-height: 1.5; }
}

#reset-button {
	width: 64px;
	height: 64px;

	background-image: url(/public/reset.svg);
	background-color: transparent;
	background-size: contain;
	border: transparent;

	&:hover {
		cursor: pointer;
		filter: brightness(1.2);
	}
}

#board {
	display: grid;
	clip-path: inset( calc(var(--cell-outline) / 2) );
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
	--text-color: hsl(0 0% 100% / 0.2);

	width: 100px;
	height: 100px;
	user-select: none;
	display: inline-block;

	background: var(--cell-background);
	color: var(--text-color);

	outline: var(--cell-outline) solid var(--board-background);
	outline-offset: calc( var(--cell-outline) * -1 / 2 );
	line-height: calc( 100px - var(--cell-outline) * 4 );

	font-size: 100px;
	font-weight: bold;
}

#overlay {
	z-index: 100;
	display: none;
	&:is(.visible) { display: inline-block; }

	position: fixed;
	top: 0;
	left: 0;

	max-width: 100vw;
	width: 100%;
	max-height: 100vh;
	height: 100%;

	background: hsl(0 0% 0% / 0.8);
	place-content: center;
	text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {

  }
}
