:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	--board-background: #1c1c1c;
	--cell-background: #2b2b2b;

	--width: 320px;
	--height: 100vh;

	--cell-size: 96px;
	--cell-gap: calc((var(--width) - var(--cell-size) * 3) / 4);

	color-scheme: light dark;
	background: #242424;
	color: #cccccc;
}

.player-x { --text-color: hsl(0 100% 70%) !important; }
.player-o { --text-color: hsl(130 75% 70%) !important; }

* {
	box-sizing: border-box;
	user-select: none;
}

h1, h2, h3 {
	line-height: 1;
	margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
	min-width: var(--width);
	min-height: var(--height);
}

#app {
	max-width: var(--width);
	text-align: center;
	margin: 0 auto;
}

#game {
	background: var(--board-background);
}

#header {
	padding: var(--cell-gap);
	padding-bottom: 0;
}

#score-container {
	display: grid;
	margin-top: 1rem;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
}

#score-container > h3 {
	color: var(--text-color);
	&:is(.turn) { filter: drop-shadow(0 0 0.25rem currentColor); }
	&:not(.turn) { filter: brightness(0.5);	}
}

.score {
	line-height: 1.2;
	font-size: 24px;
}

.name {
	background: transparent;
	border: transparent;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: inherit;
	outline: none;

	width: calc(var(--width) / 3 - var(--cell-gap));
	border-bottom: 1px solid var(--text-color);
	padding-bottom: 0.25em;
	user-select: none;
	cursor: pointer;

	&:hover{
		&:is(:read-only) { filter: brightness(1.2); }
	}

	&:not(:read-only) {
		user-select: text;
		cursor: text;
	}
}

#reset-button {
	width: 64px;
	height: 64px;

	background-image: url(/public/reset.svg);
	background-color: transparent;
	background-size: contain;
	border: transparent;

	&:hover {
		cursor: pointer;
		filter: brightness(1.2);
	}
}

#board {
	display: grid;
	gap: var(--cell-gap);
	padding: var(--cell-gap);
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
	--text-color: hsl(0 0% 100% / 0.2);

	width: var(--cell-size);
	height: var(--cell-size);
	line-height: calc( var(--cell-size) - var(--cell-gap) - 0.5lh );
	display: block;

	background: var(--cell-background);
	color: var(--text-color);

	font-size: 120px;
	font-weight: bold;
}

#overlay {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;

	max-width: 100vw;
	width: 100%;
	max-height: 100vh;
	height: 100%;

	pointer-events: none;
	opacity: 0;
	&:is(.visible) {
		pointer-events: all;
		opacity: 1;
	}

	transition: opacity 0.2s ease-in-out;
	background: hsl(0 0% 0% / 0.8);
	place-content: center;
	text-align: center;

	& > * {
		margin: 2rem 0;
		font-size: 50px;
		line-height: 1.2;
		pointer-events: none;
	}
}

@media (prefers-color-scheme: light) {
  :root {

  }
}
