:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	--bg-color: #242424;
	--text-color: #ffffffdd;

	color-scheme: light dark;
	color: var(--text-color);
	background: var(--bg-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#game {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
	  --bg-color: #cccccc;
	  --text-color: #181818;
  }
}
